# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
CREATE TABLE JunkDB_STL_March2022.lizz.planned_makes (
    sewing_project_id INT PRIMARY KEY IDENTITY,
    pattern_name VARCHAR (200),
    fabric_content VARCHAR(200),
    size INT)

Add three rows to your table that are your planned makes.

In [5]:
INSERT INTO JunkDB_STL_March2022.lizz.planned_makes (pattern_name, fabric_content, size)
VALUES ('Tea House Dress', 'cotton voile', 20),
('Yanta Overalls', 'denim', 24),
('Zadie Jumpsuit', 'linen', 22)

In [6]:
SELECT * FROM JunkDB_STL_March2022.lizz.planned_makes

sewing_project_id,pattern_name,fabric_content,size
1,Tea House Dress,cotton voile,20
2,Yanta Overalls,denim,24
3,Zadie Jumpsuit,linen,22

## Update a Row

Change different values in one of your three rows.

In [7]:
UPDATE JunkDB_STL_March2022.lizz.planned_makes
SET size = 22
WHERE sewing_project_id = 2

In [8]:
SELECT * FROM JunkDB_STL_March2022.lizz.planned_makes

sewing_project_id,pattern_name,fabric_content,size
1,Tea House Dress,cotton voile,20
2,Yanta Overalls,denim,22
3,Zadie Jumpsuit,linen,22

## Delete a Row

Delete one of the rows from your table.

In [9]:
DELETE FROM JunkDB_STL_March2022.lizz.planned_makes
WHERE sewing_project_id = 3

## Drop the Table

While this has been fun, it is time to drop the table!

In [10]:
DROP TABLE JunkDB_STL_March2022.lizz.planned_makes